/* DESKTOP  */
/* LAPTOP  */
@media screen and (max-width: 1313px) {
    .catagories{
      display: none;
    }
    
    .mini-category{
      display: block;
    }
  
  }
/* DESKTOP  */

/* TAB LARGE  */
@media screen and (max-width: 1000px) {
      .menuBar .search form{
        display: none;
    }

    .menuBar #active-i{
        display: inline-flex;
    }

}
/* TAB LARGE  */

/* TAB MEDIUM  */
@media screen and (max-width: 650px) {

    .catagories{
        display: none;
      }
    .mini-category{
        display: block;
      }

      .menuBar .search form{
        display: none;
    }

    .videos .videosGrid .video{
        width: calc(50% - 10px);
    }

}
/* TAB MEDIUM  */
/* TAB SMALL  */
@media screen and (max-width: 550px) {

    .catagories{
        display: none;
      }
    .mini-category{
        display: block;
      }

      .menuBar .search form{
        display: none;
    }

    .videos .videosGrid .video{
        width: calc(100% - 10px);
    }

}
/* TAB SMALL  */

/* MOBILE LARGE  */
@media screen and (max-width: 426px) {
    .mini-category{
        display: none;
      }

      .menuBar .search form{
        display: none;
    }

    .menuBar ,
    .menuBar .logo img{
        margin: 0;
    }

    .videos{
        padding: 0;
    }

    .videos .videosGrid .video{
        margin-right: 0;
    }

    .menuBar {
        height: 50px;
    }
    .menuBar .search form,
    .mainBody .catagories,
    .mainBody h1,.menuBar i:not(#active-i){
        display: none;
    }

    .videos .videosGrid .video {
        width: 100%;
    }

    .footer-category {
        display: flex;
        justify-content: space-evenly;
    }

    .author img{
        margin-left: 10px;
    }
}
/* MOBILE LARGE  */

/* MOBILE MEDIUM  */
@media screen and (max-width: 376px) {
    .mini-category{
        display: none;
      }

      .menuBar .search form{
          display: none;
      }

      .menuBar ,
      .menuBar .logo img{
          margin: 0;
      }
  
      .videos{
          padding: 0;
      }
  
      .videos .videosGrid .video{
          margin-right: 0;
      }
  
      .menuBar {
          height: 50px;
      }
      .menuBar #active-i{
          display: flex;
      }
      .menuBar .search form,
      .mainBody .catagories,
      .mainBody h1,.menuBar i:not(#active-i){
          display: none;
      }
  
      .videos .videosGrid .video {
          width: 100%;
      }
}
/* MOBILE MEDIUM  */
/* MOBILE SMALL  */
@media screen and (max-width: 320px) {
    .menuBar ,
    .menuBar .logo img{
        margin: 0;
    }

    .videos{
        padding: 0;
    }

    .videos .videosGrid .video{
        margin-right: 0;
    }

    .menuBar {
        height: 50px;
    }
    .menuBar #active-i{
        display: flex;
    }
    .menuBar .search form,
    .mainBody .catagories,
    .mainBody h1,.menuBar i:not(#active-i){
        display: none;
    }

    .videos .videosGrid .video {
        width: 100%;
    }
}
/* MOBILE SMALL  */