@media screen and (max-width: 986px) {
    .video-img, .video-details{
      width: 100%;
    }

    .search{
        display: none;
    }
  }

/* category start  */
    @media screen and (max-width: 1313px) {
      .catagories{
        display: none;
      }

      .mini-category{
        display: block;
      }
    }

/* category end  */